body, html {
    height: 100%;
    width: 100%;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
    font-family: monospace;
    image-rendering: pixelated;
    margin: 0;
	padding: 0;
	border: 0;
}