:root {
    --theme-bg-color: #3b3eab;
    --theme-header-font: 
}

@font-face {
    font-family: "Cooper Black";
    src: url("/font/CooperFiveOpti-Black.otf") format("opentype") tech(color-COLRv1),
}

body {
    background-color: var(--theme-bg-color);
}

header {
    background-image: linear-gradient(to right, var(--theme-bg-color), white);
}

h1 {
    font-family: "Cooper Black";
    font-weight: lighter;
}