@font-face {
    font-family: "Cooper Black";
    src:
      url("/CooperFiveOpti-Black.otf") format("opentype") tech(color-COLRv1),
  }
  
:root {
    --theme-bg-color: #6d9eeb;
    --theme-header-font: 
}

body, html {
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
    font-family: monospace;
    image-rendering: pixelated;
    margin: 0;
	padding: 0;
	border: 0;
}

body {
    background-color: var(--theme-bg-color);
}